table {
    font-size: 0.92em;
    background-color: #ffffff !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px;
    vertical-align: middle;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 8px;
    border-bottom: 1px solid #111;
}

.dataTables_status {
    float: left;
}

.dataTables_length select {
    padding: 6px;
    border-radius: 0.25rem;
    border: solid 1px #e2e2e2;
}

.dataTables_status select {
    padding: 5px;
    border-radius: 0.25rem;
    border: solid 1px #e2e2e2;
}

.dataTables_filter input {
    padding: 5px;
    border-radius: 0.25rem;
    border: solid 1px #e2e2e2;
}

.dataTables_wrapper {
    width: 100%;
}

.sectors-name .badge {
    float: left;
    margin-top: 11.6px;
    font-size: 1rem;
    font-weight: normal;
}

.sectors-name span {
    font-weight: bold;
}

.col-md-3.col-funnel {
    padding: 10px 10px 10px 0px !important;
}

.col-md-3.col-funnel .card {
    border: solid 4px #dfe1e6 !important;
    padding: 5px !important;
    background-color: #dfe1e6;
}

.col-md-3.col-funnel .card-header {
    color: #404040;
    background-color: #dfe1e6;
    font-size: 1.05rem !important;
    border-bottom: none !important;
    padding: 8px;
}

.col-md-3.col-funnel .card-header .status-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}

.col-md-3.col-funnel .card-body {
    padding: 5px;
    cursor: move;
    max-height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.col-md-3.col-funnel .card-body::-webkit-scrollbar {
    width: 5px;
}

.col-md-3.col-funnel .card-body::-webkit-scrollbar-thumb {
    background: #959698;
    border-radius: 10px;
    -webkit-box-shadow: none;
}

.col-md-3.col-funnel .card-body .card.item-sale {
    border: 5px dashed #cecece38 !important;
    margin-bottom: 15px !important;
    cursor: move;
    padding: 5px;
    background-color: #ffffff;
}

.col-md-3.col-funnel .card-body .card.item-sale span .material-icons {
    font-size: 1.8rem;
    position: absolute;
    right: 0px;
    color: #219544;
    top: 1px;
}

.col-md-3.col-funnel .card-body .card .title-time {
    font-size: 0.9rem;
    font-weight: 500;
    color: #404040 !important;
    margin-top: 10px;
    margin-bottom: 5px;
}

.col-md-3.col-funnel .card-body .card .title-time .icon {
    font-weight: 500;
    font-size: 1.2rem;
}

.icon-tab-detail {
    font-size: 1.4em;
}

.badge-date-sale {
    padding: 5px !important;
    font-size: 0.92em !important;
    font-weight: normal !important;
}

.card-body#map {
    height: 380px;
}

.status-details-sale {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 2px;
}

select.status_name {
    position: absolute;
    border-radius: 0.25rem;
    margin-top: -2.8px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    visibility: hidden;
    font-size: 0.92em;
    padding: 2.8px;
    outline: none;
}

select.owner_name {
    position: absolute;
    border-radius: 0.25rem;
    margin-top: -2.8px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    visibility: hidden;
    font-size: 0.92em;
    padding: 2.8px;
    outline: none;
}

.icon-note.status_edit {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 600;
    color: #17a2b8;
    position: absolute;
    cursor: pointer;
}

.icon-note.owner_edit {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 600;
    color: #17a2b8;
    position: absolute;
    cursor: pointer;
}

audio {
    outline: none;
    max-width: 276px;
}

.no-wrap {
    white-space: nowrap;
}

.btn.btn-info.select {
    width: 100% !important;
}

.btn.btn-info.select-over {
    width: 100% !important;
}

.nav-tabs .nav-link {
    color: #17a2b8 !important;
}

.modal-lg {
    max-width: 920px;
}

.modal-md {
    max-width: 620px;
}

.alert-info,
.alert-warning {
    display: table !important;
}

.table-responsive table td {
    white-space: nowrap;
}

.lb-details {
    display: none;
}

.select {
    cursor: pointer;
}

.select .icon-lock {
    font-size: 1.28em;
    display: block;
    margin: 2px 0;
}

.select .icon-note {
    font-size: 1.28em;
    display: block;
    margin: 2px 0;
}

.modal-footer > :not(:last-child) {
    margin-right: 0px;
}

.selected {
    background-color: #404040;
    border-color: #404040;
}

button[disabled="disabled"] {
    cursor: not-allowed;
}

i.no-access {
    font-size: 1.6em;
}

@media (min-width: 360px) {
    select.owner_name {
        max-width: 115px;
    }
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: left !important;
    }
}

@media (min-width: 992px) {
    select.owner_name {
        max-width: 150px;
    }
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none !important;
    }
}

.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 20px;
}

.button-new-sale:not(:disabled):not(.disabled) {
    /* background-color: #ba4d4d !important; */
    font-weight: bold;
    width: 180px;
    text-transform: uppercase;
}

.form-control[name="creation_date"] {
    width: 188px;
}

.img-seller-map {
    width: 86px;
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.gm-style .gm-style-iw-c {
    text-align: center;
    width: 180px;
}

fieldset {
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 0.3rem;
}

.check_doc {
    position: absolute;
    top: 25px;
    right: 0px;
    margin-right: 18px;
}

.col-doc {
    cursor: move;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-doc img {
    cursor: move;
}

.col-doc-nopadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.filter-sales {
    background-color: #ba4d4d;
    border-color: #ba4d4d;
}

.new-client {
    cursor: pointer;
    font-size: 2em;
    margin-top: 38.5px;
    color: #ba4d4d;
}

.modal-dialog-over {
    padding: 40px;
}

.modal-content-over {
    margin-left: -10px;
}

.clients-content {
    width: 100% !important;
}

.flex-row-reverse .select2 {
    margin-right: 10px;
}

a > i.icon-download {
    position: absolute;
    margin-left: 10px;
    font-size: 2.8rem;
    margin-top: 5px;
    cursor: pointer;
    color: #17a2b8;
}

a > i.icon-download:hover {
    color: #076675;
}
